<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Config Admin Panel</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a routerLink="addProject" class="nav-link">Add Project</a>
      </li>
      <li class="nav-item">
        <a routerLink="addDevice" class="nav-link">Add Device</a>
      </li>
      <li class="nav-item">
        <a routerLink="addConfig" class="nav-link">Add Config</a>
      </li>
      <li class="nav-item">
        <a routerLink="modifyDevice" class="nav-link">Modify Device</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
