.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
.material-icons.green { color: #7FFF00; cursor: pointer; }
.material-icons.red { color: #A52A2A;   cursor: pointer;}
.material-icons.yellow { color: #FFD700; cursor: pointer;}
.material-icons {
  font-size: 28px;
  cursor: pointer;
}
.btn-primary
{
  color: black;
  background-color: #FFD700;
}
.btn-secondary
{
  color: red;
  background-color: #FFD700;
}
